<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GIRA</title>
    <link rel="icon" href="/images/projectLogo.png" type="image/icon type">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg ">
      <span class="col-md-1" >
        <img src="/images/projectLogo.png" alt="Logo" width="50" height="50">
      </span>
        <a class="navbar-brand active col-md-1 title" th:href="@{/home}">Gira</a>
        <div class="collapse navbar-collapse  d-flex justify-content-end">
            <ul th:if="${@loggedUser.isEmpty()}" class="navbar-nav row">
                <li class="nav-item col-md-5">
                    <a class="button" th:href="@{/auth/login}">Login</a>
                </li>
                <li class="nav-item col-md-5">
                    <a class="button" th:href="@{/auth/register}">Register</a>
                </li>
            </ul>
            <ul th:unless="${@loggedUser.isEmpty()}" class="navbar-nav row">
                <li class="nav-item col-md-7 pr-0">
                    <a class="button" th:href="@{/tasks/add}">Add Task</a>
                </li>
                <li class="nav-item col-md-3 pl-0 pr-5">
                    <a class="button" th:href="@{/auth/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<footer>
    <div class="container-fluid text-center">
        <div class="footer-background h6">
            &copy; Boris Boev 2023. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>