<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<div class="page-container">
    <header th:replace="fragments/commons::nav"></header>
    <main class="content-wrap">
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Tasks</span></h1>
        <hr class="hr-3 w-75 bg-white"/>
        <form class="mx-auto w-75 " method="" action="/">

            <div class="card-group task-card" th:each="task : ${tasks}" th:object="${task}" >
                <div class="card">

                    <div class="card-title">
                        <h5 class="card-title">Name</h5>
                    </div>
                    <div class="card-footer">
                        <small><th:block th:text="*{name}"/></small>
                    </div>
                </div>
                <div class="card">

                    <div class="card-title">
                        <h5 class="card-title">Assigned to</h5>
                    </div>
                    <div class="card-footer">
                        <small><th:block th:text="*{user}"/></small>
                    </div>
                </div>
                <div class="card">

                    <div class="card-title">
                        <h5 class="card-title">Classification</h5>
                    </div>
                    <div th:switch="*{classification}" class="card-footer">
                      <small th:case="*{classification.Bug}" class="classifications BUG"><th:block th:text="*{classification}"/></small>
                      <small th:case="*{classification.Feature}" class="classifications FEATURE"><th:block th:text="*{classification}"/></small>
                      <small th:case="*{classification.Support}" class="classifications SUPPORT"><th:block th:text="*{classification}"/></small>
                      <small th:case="*{classification.Other}" class="classifications OTHER"><th:block th:text="*{classification}"/></small>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h5 class="card-title">Due Date</h5>
                    </div>
                    <div class="card-footer">
                        <small><th:block th:text="*{dueDate}"/></small>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h5 class="card-title">Progress</h5>
                    </div>
                    <div class="card-footer">
                        <small><th:block th:text="*{progress}"/></small>
                    </div>
                </div>

                <a class="button prBtn" th:href="@{/tasks/progress/{id}(id = *{id})}">Progress</a>
            </div>

        </form>
    </main>

    <footer th:replace="fragments/commons::footer"></footer>

</div>
</body>
</html>
